<div class="col order-last">
    <div class="container">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success"> ID: {{id}}</div>
            <div class="card-body text-success">
              <h5 class="card-title">{{name}}</h5>
          <p class="card-text"><li class="list-group-item">School: {{ school }}</li>
            <li class="list-group-item">email: <a href="mailto:{{ email }}">{{ email }}</a></li></p>
        </div>
        <div class="card-footer bg-transparent border-success">{{ role }}</div>
      </div>
        
      </div>
  </div>